<?xml version="1.0"?>

<launch>
	<env name="GAZEBO_MODEL_PATH" value="$(find iturov_worlds)/models" />
	<arg name="gui" default="true" />
	<arg name="paused" default="false" />
	<arg name="set_timeout" default="false" />
	<arg name="timeout" default="0.0" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find iturov_worlds)/world/pool.world" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="true" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="headless" value="false" />
		<arg name="debug" value="false" />
		<arg name="verbose" value="true" />
	</include>

	<node name="publish_world_models"
        pkg="uuv_assistants"
        type="publish_world_models.py"
        output="screen">
        <rosparam subst_value="true">
            meshes:
                heightmap:
                    mesh: package://iturov_worlds/models/pool/pool.dae
                    model: pool
        </rosparam>
    </node>

	<group if="$(arg set_timeout)">
		<include file="$(find uuv_assistants)/launch/set_simulation_timer.launch">
			<arg name="timeout" value="$(arg timeout)" />
		</include>
	</group>

	<include file="$(find uuv_assistants)/launch/publish_world_ned_frame.launch" />
</launch>
